<p>{{ duration }}</p>
{{#if isRunning}}
<button type="submit" class="btn btn-sm btn-default" {{action "stop"}}>Stop</button>
{{else}}
<button type="submit" class="btn btn-sm btn-default" {{action "start"}}>Start</button>
{{/if}}
<button type="submit" class="btn btn-sm btn-default" {{action "stop" true}}>Reset</button>