<p class="duration">{{ duration }}</p>
{{#if isRunning}}
<button class="stopbutton" type="submit" class="btn btn-sm btn-default" {{action "stop"}}>Stop</button>
{{else}}
<button class="startbutton" type="submit" class="btn btn-sm btn-default" {{action "start"}}>Start</button>
{{/if}}
<button class="resetbutton" type="submit" class="btn btn-sm btn-default" {{action "stop" true}}>Reset</button>